<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Gateapp</title>
    <link rel="stylesheet" href="{% static 'Gcss/ram1.css'%}">

  </head>
  <body>
    <div id="header">
  <h1>GATE PASS MANAGEMENT SYSTEM</h1>  <div id="nav">
    <a href="/Gateapp/view-Person">ALL PERSON</a>
    <a href="/Gateapp/New-Person/">ADD PERSON</a>
    <a href="/Gateapp/Search-Person">SEARCH PERSON</a>
    <a href="/Gateapp/logout">LOGOUT</a>
    </div>
  </div>
  <img src="{% static 'images/d.jpg' %}" width="1300" height="650">
    <div id="main">

      <form  method='post'>
        {% csrf_token %}
        <table>
          <tr>
            <td><label for="username"> Username </label> </td>
            <td><input type="text" name="username" id="username"></td>
            </tr>
            <tr>
              <td><label for="password"> Password </label></td>
              <td><input type="password" name="password" id="password" ></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit"  value="Login"></td>
                </tr>

        </table>
        </form>
        <p>{{error}}
     </div>
  </body>
</html>
